body {
  background: #e5e5e5 !important; }

.container {
  background: #f9fbfc !important;
  padding: 30px 30px !important;
  position: relative !important;
  padding-bottom: 0px !important; }

.title {
  font-size: 24px;
  color: #1161a6; }

.form-title {
  font-size: 20px;
  color: #1161a6; }
  .form-title span {
    font-weight: 400; }

.btn-passenger {
  background: #fafafa; }

.btn-group {
  border: 1px solid #959595;
  border-radius: 6px;
  background: #fafafa;
  width: 100px; }

label {
  font-size: 12px !important;
  float: right;
  text-align: right;
  margin-top: 8px; }

.border-top {
  border-top: 1px solid #494949;
  padding-top: 10px; }

.fligt-last-info .flight-price {
  font-size: 24px;
  color: #1161a6; }
  .fligt-last-info .flight-price p {
    margin: 0px; }

.fligt-last-info .flight-time {
  font-size: 14px;
  color: #5d5d5e;
  margin-bottom: 25px; }
  .fligt-last-info .flight-time p {
    margin: 0px; }
  .fligt-last-info .flight-time span {
    font-weight: bold; }

.fligt-last-info .flight-plan img {
  margin-left: 65px; }

.fligt-last-info .flight-plan p {
  font-size: 14px;
  font-weight: bold;
  color: #1161a6; }

.fligt-last-info .flight-plan span {
  margin-right: 30px; }
